
$col--background-darkest: #0d0f12;
$col--background-dark: #181d23;
$col--green-light: #09ab88;
$col--green-dark: #08604d;
$col--blue-dark: #123968;
$col--blue-light: #1a5090;

@font-face {
  font-family: "elegant-lux";
  src: url('font/ElegantLux-Mager.otf');
}