
body {
  background-color: $col--background-dark;
  font-family: elegant-lux;
  color: white;
}

h1 {
  color: white;
  font-family: elegant-lux;
}


.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.top-bar {
  background: $col--background-darkest;
  @extend .z-depth-3;
  .row {
    .columns {
      font-size: 24pt;
      text-align: center;
    }
  }
}

.background-darkest {
  background: $col--background-darkest !important;
}
.background-darkest-text {
  color: $col--background-darkest !important;
}
.background-dark {
  background: $col--background-dark !important;
}
.background-dark-text {
  color: $col--background-dark !important;
}
.green-light {
  background: $col--green-light !important;
}
.green-light-text {
  color: $col--green-light !important;
}
.green-dark {
  background: $col--green-dark !important;
}
.green-dark-text {
  color: $col--green-dark !important;
}
.blue-light {
  background: $col--blue-light !important;
}
.blue-light-text {
  color: $col--blue-light !important;
}
.blue-dark {
  background: $col--blue-dark !important;
}
.blue-dark-text {
  color: $col--blue-dark !important;
}

.navigation--button {
  height: calc(33vh - 30px);
  width: 100%;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 50px;

  span.nav-title {
    font-size: 40pt;
    color: $col--green-light;
  }

  span {
    font-size: 16pt;
    color: $col--green-dark;
  }

  :nth-child(2) {
    span.nav-title {
      color: $col--blue-light;
    }
    span {
      color: $col--blue-dark;
    }
  }


}

@media screen and (max-width: 400px) {
  .navigation--button {
    span.nav-title {
      font-size: 30pt;
    }
    span {
      font-size: 14pt;
    }
  }
}

.large-button {
  border: 1px solid $col--green-light;
  color: white;
  padding: 50px 30px;
  text-align: center;
  cursor: pointer;
  font-size: 28pt;



}

.weight-sensor {

  text-align: center;


  div {
    margin: 10%;
    width: 80%;
    height: 110px;
    padding-top: 23px;
    font-size: 28pt;
    color: white;
    border: 1px solid white;
  }

  &:hover div {
    background-color: $col--blue-dark;
  }

}

.sleep-graph {
  h1 {
    text-align: center;
    font-size: 28pt;
    font-weight: normal;
  }
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.alarm--settime {

  input {
    background: rgba(0, 0, 0, 0) !important;
    font-size: 28pt;
    border: none;
    color: white;
    height: 60px;
    float: left;
    width: 20%;
    text-align: center;
  }

  span {
    color: white;
    font-size: 28pt;
    float: left;
  }

  input:nth-child(2) {
    margin-left: 20%;
  }

}