

<div class="row" ng-show="expanded">
    <div class="small-12 columns">
        <div class="navigation--button" ng-click="alarmPage(0, 20, 0)">
            <span class="nav-title">
                POWER NAP
            </span>
            <br>
            <span>
                ~20 MINUTES OF LIGHT SLEEP IMPROVES MUSCLE MEMORY AND OVERALL PERFORMANCE
            </span>
        </div>
        <div class="navigation--button" ng-click="alarmPage(1, 30, 0)">
            <span class="nav-title" style="color: #1a5090;">
                LONG NAP
            </span>
            <br>
            <span style="color: #123968;">
                ~90 MINUTES - A FULL SLEEP CYCLE RESETS YOUR STRESS LEVELS, MAY CAUSE FATIGUE
            </span>
        </div>
        <div class="navigation--button" ng-click="alarmPage(8, 0, 0)">
            <span class="nav-title">
                SLEEP
            </span>
            <br>
            <span>
                LOG DOWN 8 HOURS OF SLEEP PER DAY AND STAY FIT AS A FIDDLE
            </span>
        </div>

    </div>
</div>