
<div class="row">
    <div class="small-12 columns">
        <div class="navigation--button" ng-click="alarmPage()">
            <div>
                <i class="fa fa-clock-o fa-5x green-light-text"></i>
            </div>

            <span>
                Smart alarm
            </span>
        </div>
        <div class="navigation--button">
            <div>
                <i class="fa fa-power-off fa-5x green-light-text"></i>
            </div>

            <span>
                Power napping
            </span>
        </div>
        <div class="navigation--button">
            <div>
                <i class="fa fa-bed fa-5x green-light-text"></i>
            </div>

            <span>
                Bed activity
            </span>
        </div>

    </div>
</div>



<div class="row">
    <div class="small-12 columns">
        Temperature: {{temperature}}°C
        <br>
        Humidity: {{humidity}}%
    </div>
</div>
