
<div class="row">
    <div class="small-12 columns">
        <p class="text-center">
            Your current activity is <span style="font-size: 28pt;">{{activity}}</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="small-6 columns weight-sensor">
        <div id="sensor-0">1</div>
    </div>
    <div class="small-6 columns weight-sensor">
        <div id="sensor-1">2</div>
    </div>
    <div class="small-6 columns weight-sensor">
        <div id="sensor-2">3</div>
    </div>
    <div class="small-6 columns weight-sensor">
        <div id="sensor-3">4</div>
    </div>
    <div class="small-6 columns weight-sensor">
        <div id="sensor-4">5</div>
    </div>
    <div class="small-6 columns weight-sensor">
        <div id="sensor-5">6</div>
    </div>

</div>


<div class="row sleep-graph">
    <h1>Statistics</h1>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div id="chartContainer"></div>
            </div>
            <div class="swiper-slide">
                <div id="chartContainer2"></div>
            </div>
            <div class="swiper-slide">
                <div id="chartContainer3"></div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

</div>