<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <div class="row">
            <div class="small-12 columns">
                Nap Star
            </div>
        </div>
    </nav>
</div>

<div class="row" ng-show="expanded">
    <div class="small-12 columns">
        <div class="navigation--button" ng-click="alarmPage()">
            <div>
                <i class="fa fa-clock-o fa-5x green-light-text"></i>
            </div>

            <span>
                Smart alarm
            </span>
        </div>
        <div class="navigation--button">
            <div>
                <i class="fa fa-power-off fa-5x green-light-text"></i>
            </div>

            <span>
                Power napping
            </span>
        </div>
        <div class="navigation--button" ng-click="activityPage()">
            <div>
                <i class="fa fa-bed fa-5x green-light-text"></i>
            </div>

            <span>
                Bed activity
            </span>
        </div>

    </div>
</div>