
<br>
<div class="row">
    <div class="small-12 columns">
        <div class="alarm--settime">
            <h1 align="center">
                Set a new alarm
            </h1>
            <input type="number" placeholder="hh" min="0" max="3" ng-model="hours">
            <span>:</span>
            <input type="number" placeholder="mm" min="0" max="60" ng-model="minutes">
            <span>:</span>
            <input type="number" placeholder="ss" min="0" max="60" ng-model="seconds">
        </div>
    </div>
</div>

<br>
<br>
<div class="row" ng-show="!alarmRunning">
    <div class="small-12 columns">
        <div class="large-button" ng-click="countdown()">
            Go
        </div>
    </div>
</div>
